@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
:root {
  font-family: "Quicksand", sans-serif;
  --app-bg: #fff; /* Background color */
  --modal-before: rgba(215,215,215,.5);
  --main-font-color: #000; /* Main text color */
  --light-font-color: #becaca; /* Light text color */
  --main-border-color: #f3f3f3; /* Main border color */
  --secondary-border-color: #faeceb; /* Secondary border color */
  --button-bg-light: #f3f3f3; /* Button background light */
  --cards-area-bg: #f4f4f6; /* Cards area background */
  --cards-bg: #fff; /* Cards background */
  --buttons-color-primary: #d84851; /* Primary button color */
  --buttons-color-secondary: #f8e4e5; /* Secondary button color */
  --filter-bg: #fff; /* Filter background */
  --search-bg: #838383; /* Search background */
}
* {
  box-sizing: border-box;
  outline: none;
}
#menuToggle
{
  visibility: hidden;
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 0px 0px 10px 0px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

footer{
  padding: 24px 40px;
  text-align: center;
  color: var(--main-font-color);
}
.footer{
  color: var(--main-font-color);
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.box-model{
  border-radius: 5px;
}

.nav-right-side {
  display: flex;
}

body, html {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: var(--app-bg);
  transition: 0.2s;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navigation {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-font-color);
  line-height: 24px;
}

.navigation-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  max-width: 420px;
}

.nav-link {
  color: var(--light-font-color);
  font-weight: 500;
  font-size: 14px;
  margin: 0 8px;
  transition: 0.2s;
}
.nav-link.active {
  color: var(--main-font-color);
}
.nav-link:not(.active):hover {
  color: var(--buttons-color-primary);
}

.hero-section {
  padding-top: 300px;
  display: flex;
  background-image: url(./SEI_119553269.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 94vh;
  background-color: rgb(97, 69, 55);
  align-content: center;
  text-align: center;
  justify-content: center;
}

.hero-text {
  font-size: 58px;
  color: white;
}

.choose-us {
  padding: 20px;
  background-color: #f8f8f8;
}

.models {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.box-model {
  flex: 1 1 calc(33.33% - 20px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
  background: white;
  overflow: hidden;
}

.image-model img {
  width: 100%;
  height: auto;
}

.text {
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

p {
  font-size: 0.875em;
}

footer {
  background-color: #eaecec;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
}

.footer-content {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-content h1 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}

.footer-content a {
  color: inherit;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid lightgray;
}

.accordion button[aria-expanded='true'] {
  border-bottom: 1px solid blue;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: gray; /* Replace with your preferred text color */
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: blue; /* Change to preferred hover color */
}

.accordion .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: blue; /* Change to preferred expanded color */
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.firstsection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  justify-content: space-between;
}
.contactus-div{
  background-color: grey;
  border-radius: 5px;
  padding: 20px;
  color: white;;
  text-align: center;
  width: 56rem;
  align-content: center;
}

.wrapper{
  width: 56rem;
  background: black;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

.msg textarea{
  height: 212px;
}

.btn {
    background: lightskyblue;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 1282px) {

  .banner-para-box{
    width: 60rem;
    margin: 0;
  }
}

@media screen and (max-width: 1020px) {
  .app-main-left .card-wrapper {
    width: 50%;
  }

  .app-main-right-header span {
    font-size: 14px;
  }
}
@media screen and (max-width: 990px) {

  .app-main-right {
    display: none;
  }

}
@media screen and (max-width: 780px) {

  .footer-content {
    flex: 1 1 100%;
    margin: 15px 0;
  }

  .footer-text {
    font-size: 1.25em;
  }
  .box-model {
    flex: 1 1 calc(50% - 20px);
  }
  .hero-section{
    padding: 1px;
  }
  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-para-box{
    width: 100%;
    margin: 0;
  }
  .banner-para{
    margin: 0;
  }
  .hero-section{
    display: flex;
    justify-content: center;
  }
  .hero-text{
    line-height: 50px;
  }
  .filter-line-text {
    margin-right: 10px;
  }

  .filter-btn {
    margin: 0 8px;
  }

  .modal-left {
    flex-shrink: 0;
    flex-basis: auto;
  }

  .app-actions-line:not(.filter-line) {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-actions-line {
    margin: 16px 0;
  }

  .contact-actions-wrapper {
    margin-top: 12px;
  }

  .app-main-left .card-wrapper {
    width: 100%;
  }

  .cards-area {
    padding: 0 8px;
  }

  .navigation {
    padding: 24px;
  }

  .app-main, .app-actions {
    padding: 24px;
  }

  section.app-actions {
    padding: 0 24px;
  }

  h1, .modal-left h1 {
    font-size: 16px;
    line-height: 24px;
  }

  .info-wrapper span {
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: 4px;
  }

  .main-modal {
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  #modal-window {
    padding: 0;
  }

  .modal-right {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-top: 16px;
    overflow-y: visible;
  }

  .btn-close {
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 660px) {
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
  .navigation {
    display: flex;
    justify-content: center;
  }
  .navigation-links {
    display: none;
  }
  #menuToggle{
    visibility: visible;
  }
}
@media screen and (max-width: 520px) {
  
  .footer-content h1 {
    font-size: 1.1em;
  }

  .container{
    width: 100%;
    padding: 2rem;
  }
  .box-model {
    flex: 1 1 100%;
  }

  h1 {
    font-size: 1.25em;
  }

  p {
    font-size: 0.75em;
  }
  .hero-section{
    padding: 20px;
  }
  .hero-text{
    font-size: 40px;
  }
  .app-container {
    overflow: auto;
  }

  .app-main {
    flex: unset;
  }

  .modal-right {
    flex: unset;
  }

  .card:hover {
    transform: scale(1);
  }

  section.app-main {
    overflow: visible;
  }

  .contact-actions span {
    display: none;
  }
}
