@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

#menuToggle
{
  visibility: hidden;
  display: block;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  border-radius: 0px 0px 10px 0px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}


:root {
  font-family: "Quicksand", sans-serif;
  --modal-before: rgba(215,215,215,.5);
  --main-font-color: #000;
  --light-font-color: #becaca;
  --main-border-color: #f3f3f3;
  --secondary-border-color: #faeceb;
}

.nav-right-side {
  display: flex;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: 0.2s;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

.navigation {
  padding: 24px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-link {
  font-weight: 600;
  font-size: 20px;
  color: var(--main-font-color);
  line-height: 24px;
}

.navigation-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  max-width: 420px;
}

.nav-link {
  color: var(--light-font-color);
  font-weight: 500;
  font-size: 14px;
  margin: 0 8px;
  transition: 0.2s;
}
.nav-link.active {
  color: var(--main-font-color);
}
.nav-link:not(.active):hover {
  color: var(--buttons-color-primary);
}

.hero-section{
  background-image: url(./assets/DSC_0052-scaled.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 90vh;
  background-color: rgb(97, 69, 55);
  align-content: center;
  text-align: center;
  justify-content: center;

}
.hero-text{
  font-size: 58px;
  color: white;
}
.aboutus-content{
  background-color: beige;
  border-radius: 5px;
  width: 50%;
  padding: 50px;
  box-shadow: 10px 10px 15px rgba(0.1, 0.1, 0.1, 0.3);
}
.aboutus-text{
  font-size: 28px;
  color: black;
  text-align: center;
}
.aboutus-para{
  text-align: center;
  font-size: 18px;
  color: black;
}
.aboutus-section{
  gap: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}
.aboutus-image{
  width: 40%;
  height: 70vh;
  border-radius: 5px;
  /* border: 1px solid black; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.aboutus-image img{
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 100%;
}
.banner-section{
  background-color: beige;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
}
.banner-text{
  font-size: 38px;
  color: black;
}
.banner-para{
  font-size: 18px;
  color: black;
}
.banner-btn{
  background-color: rgb(97, 69, 55);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.banner-btns{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
footer {
  background-color: #eaecec;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.footer-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 0;
}

.footer-content {
  flex: 1 1 200px;
  margin: 10px;
  text-align: left;
}

.footer-content h1 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

.footer-content ul li {
  margin: 5px 0;
}

.footer-content a {
  color: inherit;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1240px) {
  .aboutus-section2 {
    flex-direction: column-reverse;
  }
  .aboutus-content {
    width: 90%;
  }
  .aboutus-image {
    width: 100%;
    height: 60%;
  }
}

@media screen and (max-width: 1020px) {
  .aboutus-image {
    width: 100%;
  }
  .app-main-left .card-wrapper {
    width: 50%;
  }
  .app-main-right-header span {
    font-size: 14px;
  }
}

@media screen and (max-width: 990px) {
  .app-main-right {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .footer-content {
    flex: 1 1 100%;
    margin: 15px 0;
  }

  .footer-text {
    font-size: 1.25em;
  }

  h1 {
    font-size: 1.2em;
  }
  .filter-line-text {
    margin-right: 10px;
  }

  .filter-btn {
    margin: 0 8px;
  }
}

@media screen and (max-width: 660px) {
  .navigation {
    display: flex;
    justify-content: center;
  }
  .navigation-links {
    display: none;
  }
  #menuToggle{
    visibility: visible;
  }
  .hero-text{
    color: #232323;
  }
  
}

@media screen and (max-width: 520px) {
  .hero-text{
    color: #000;
  }
  .footer-content h1 {
    font-size: 1.1em;
  }

  .container{
    width: 100%;
    padding: 2rem;
  }
  .aboutus-para {
    font-size: 15px;
  }
  .app-container {
    overflow: auto;
  }

  .app-main {
    flex: unset;
  }

  .modal-right {
    flex: unset;
  }

  .card:hover {
    transform: scale(1);
  }

  section.app-main {
    overflow: visible;
  }

  .contact-actions span {
    display: none;
  }
}